@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	font-family: Inter;
}

/* Navbar */
nav {
	background-color: rgba(217, 217, 217, 1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 4rem;
	padding: 0 3rem;
}
h1 {
	font-size: 2.5rem;
	font-weight: 700;
}
hr {
	background-color: black;
	border-color: transparent;
	width: 20rem;
	margin-top: 0.3rem;
}
.login {
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 9rem;
	border-radius: 2rem;
	background-color: rgba(241, 241, 241, 1);
	cursor: pointer;
}
.login p {
	font-size: 0.8rem;
}
.search {
	padding-top: 0.5rem;
	display: flex;
	flex-direction: column;
}
.search div {
	display: flex;
}
.sbar {
	width: 1rem;
	height: 1rem;
	padding: 0 1rem 0 0.5rem;
}
.bar input {
	background-color: transparent;
	border-color: transparent;
	font-style: italic;
}

/* Aside */
aside {
	position: absolute;
	bottom: 25%;
	left: 1%;
	width: 15rem;
	height: 20rem;
	background-color: rgba(217, 217, 217, 1);
}
aside .filter {
	font-size: 0.8rem;
	padding: 1.5rem 1.5rem 0.6rem 1.5rem;
}
.category {
	text-align: center;
}
input[type="checkbox"] {
	height: 1.5rem;
	width: 1.5rem;
	background-color: rgba(241, 241, 241, 1);
	border-radius: 0.2rem;
	cursor: pointer;
}
.category div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.4rem;
	gap: 1.2rem;
	font-size: 0.8rem;
	font-weight: 400;
}

/* Content */
.content {
	position: absolute;
	right: 0;
	top: 17%;
	width: 55rem;
	height: auto;
}
.content h2 {
	font-weight: 500;
}
.cards {
	position: relative;
	width: 16rem;
	height: 18rem;
	background-color: rgba(217, 217, 217, 1);
	border: 1px solid #dadada;
	box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cards img {
	height: 9rem;
	width: 16rem;
}
.content section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0 2rem;
	padding-bottom: 2rem;
}
.content .card {
	padding-top: 1.6rem;
}
.cards p {
	font-size: 1rem;
	font-weight: 800;
}
.cards i {
	font-size: 0.6rem;
}
.recipe {
	padding: 0.8rem 0.9rem 0.7rem 0.9rem;
}
.recipe span {
	font-size: 0.75rem;
}
.read {
	position: absolute;
	bottom: 5%;
	right: 5%;
	cursor: pointer;
	font-weight: 600;
}

@media screen and (max-width: 1300px) {
	nav {
		height: 3.5rem;
	}
	h1 {
		font-size: 2rem;
	}
	hr {
		width: 15rem;
	}
	.login {
		height: 2.2rem;
		width: 8rem;
	}
	.login p {
		font-size: 0.7rem;
	}
	aside {
		bottom: 25%;
		width: 12rem;
	}
	.category div {
		font-size: 0.75rem;
	}
	.content {
		position: absolute;
		right: 0;
		top: 14%;
		width: 45rem;
		height: auto;
	}
	.cards {
		width: 13rem;
	}
	.cards img {
		position: relative;
		width: 13rem;
	}
}

@media screen and (max-width: 975px) {
	aside {
		width: 11rem;
	}
	.category div {
		font-size: 0.7rem;
		gap: 0.5rem;
	}
	.content {
		top: 14%;
		width: 42rem;
	}
	.cards {
		width: 12rem;
	}
	.cards img {
		position: relative;
		width: 12rem;
	}
}

@media screen and (max-width: 900px) {
	.content {
		top: 14%;
		width: 33rem;
	}
	.cards {
		width: 15rem;
	}
	.cards img {
		position: relative;
		width: 15rem;
	}
}

@media screen and (max-width: 747px) {
	nav {
		height: 3rem;
		padding: 0 2rem;
	}
	h1 {
		font-size: 1.8rem;
	}
	hr {
		width: 11rem;
	}
	.login {
		height: 2rem;
		width: 7rem;
	}
	aside {
		top: 13%;
		left: auto;
		right: 32%;
		width: 14rem;
	}
	.content {
		top: 70%;
		width: 37rem;
	}
	.cards {
		width: 15rem;
	}
	.cards img {
		position: relative;
		width: 15rem;
	}
}

@media screen and (max-width: 655px) {
	nav {
		height: 3rem;
		padding: 0 1.6rem;
	}
	h1 {
		font-size: 1.5rem;
	}
	hr {
		width: 9rem;
	}
	.login {
		height: 1.7rem;
		width: 6rem;
	}
	.sbar {
		padding: 0 0.5rem 0 0.2rem;
	}
	.bar input {
		font-size: 0.7rem;
	}
	aside {
		top: 13%;
		left: auto;
		right: 32%;
		width: 14rem;
	}
	.content {
		top: 70%;
		width: 35rem;
	}
}

@media screen and (max-width: 600px) {
	.content {
		top: 70%;
		width: 27rem;
	}
	.cards {
		width: 11rem;
	}
	.cards img {
		position: relative;
		width: 11rem;
	}
}

@media screen and (max-width: 505px) {
	nav {
		height: 3rem;
		padding: 0 1rem;
	}
	.search {
		align-items: center;
	}
	h1 {
		font-size: 1.2rem;
	}
	hr {
		width: 8rem;
	}
	.login {
		height: 1.5rem;
		width: 5rem;
	}
	.login p {
		font-size: 0.5rem;
	}
	.sbar {
		width: 0.8rem;
		height: 0.8rem;
		padding: 0 0 0.2rem;
	}
	.bar input {
		font-size: 0.5rem;
	}
	aside {
		right: 25%;
		width: 11rem;
	}
	.content {
		top: 70%;
		width: 27rem;
	}
	.cards {
		width: 11rem;
	}
	.cards img {
		position: relative;
		width: 11rem;
	}
}

@media screen and (max-width: 462px) {
	nav {
		height: 3rem;
		padding: 0 1rem;
	}
	h1 {
		font-size: 1rem;
	}
	hr {
		width: 5rem;
	}
	.login {
		height: 1.5rem;
		width: 5rem;
	}
	.login p {
		font-size: 0.5rem;
	}
	.bar img {
		padding-left: 2rem;
	}
	.bar input {
		font-size: 0.5rem;
	}
	.content {
		top: 70%;
		width: 20rem;
	}
	.cards {
		width: 8rem;
	}
	.cards img {
		position: relative;
		width: 8rem;
	}
}
